{% extends 'base.html.twig' %}

{% block title %}Inicio{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('styles/client/DetalleCompra.css') }}">
{% endblock %}

{% block body %}
<div class="container">
    <div class="row row_detalleC ">
        <div class="col-8" style="background-color: white;">
        {% if pedidos is null %}
            <h1>Detalles de Compras</h1>
                <p>No hay pedidos</p>
        {% else %}
            <div>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Pedido ID</th>
                            <th scope="col">Imagen</th>
                            <th scope="col">Producto</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Precio</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if pedidos.menus is empty %}
                            <tr>
                                <td colspan="5" class="text-center">No hay productos en este pedido.</td>
                            </tr>
                        {% else %}
                            {% for pedido in pedidos.menus %}
                                <tr>
                                    <th scope="row">{{ pedidos.id }}</th>
                                    <td><img src="{{ asset('imgs/MenuFotos/' ~ pedido.imagen) }}" alt="imagen afiliados" class="img-thumbnail" style="max-width: 100px;"></td>
                                    <td>{{ pedido.nombre }}</td>
                                    <td>{{ pedido.cantidad }}</td>
                                    <td>{{ pedido.Precio | number_format(2, '.', ',') }} MXN</td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
            </div>

        </div>
        <div class="col-4 detalleTotal">
            <h4>Pago Total</h4>
            <div class="progress" style="height: 1px;">
                <div class="progress-bar" role="progressbar" style="width: 100%; background: gray;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="detaCompra">
                <p class="detp">Comidas: {{ pedidos.Total | number_format(2, '.', ',') }} MXN</p>
                <p class="detp">Descuento: 0.0 MXN</p>
            </div>
            <div>
                <div class="progress" style="height: 1px;">
                    <div class="progress-bar" role="progressbar" style="width: 100%; background: gray;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <h4>Total: <span style="color: green;">{{ pedidos.Total | number_format(2, '.', ',') }} MXN</span></h4>
                <form method="post" action="{{ path('app_conf') }}">
                    <input type="hidden" value="{{ pedidos.id }}" name="idp" id="idp"/>
                    <input id="Vtotal" type="hidden" value="{{ pedidos.Total | number_format(2, '.', ',') }}" name="total"/>
                    <button class="btn btn-success" type="submit">Pagar</button>
                </form>
                <div id="smart-button-container">
                    <div style="text-align: center;">
                        <div id="paypal-button-container"></div>
                    </div>
                </div>
            </div>
    {% endif %}
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://www.paypal.com/sdk/js?client-id=AT80_Ft4nnChPuAUsVfhe3lsuB-HSPdLEQE9Paa9iwCpL3gS_jvSRbGrOXtP8_QgyhfopSGTzBdy23QG&currency=MXN" data-sdk-integration-source="button-factory"></script>
<script>
    function initPayPalButton() {
        var total = $('#Vtotal').val();
        var idpe = $('#idp').val();

        paypal.Buttons({
            style: {
                shape: 'rect',
                color: 'gold',
                layout: 'vertical',
                label: 'pay',
            },
            createOrder: function(data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        description: "Delivery Lions Alimentos",
                        amount: {
                            currency_code: "MXN",
                            value: total
                        }
                    }]
                });
            },
            onApprove: function(data, actions) {
                $.ajax({
                    type: "POST",
                    url: "{{ path('app_conf') }}", // Utiliza la ruta directa sin parámetros aquí
                    data: {
                        idp: idpe,
                        total: total
                    },
                    success: function(data) {
                        Swal.fire({
                            title: '¡Gracias por tu compra!',
                            text: 'Tu pedido ha sido procesado con éxito',
                            icon: 'success',
                        }).then(() => {
                            window.location.href = "{{ path('app_pedido') }}";
                        });
                    },
                    error: function(xhr, status, error) {
                        Swal.fire({
                            title: 'Error',
                            text: 'Ha ocurrido un error al procesar tu pedido'+ error,
                            icon: 'error'
                        });
                    }
                });
            },
            onError: function(err) {
                console.log(err);
            }
        }).render('#paypal-button-container');
    }
    initPayPalButton();
</script>


{% endblock %}
