{% extends 'base.html.twig' %}

{% block title %}Inicio{% endblock %}
 {% block stylesheets %}
 <link rel="stylesheet" href="{{ asset('styles/client/index.css') }}">

 {% endblock %}
{% block body %}

    <section id="inicio" class="content"> 
        <div class="content-text">
            <h1>BIENVENIDO DELIVERY LIONS</h1>
        </div>
        <div class="content-text">
            <h3>Vendemos Cualquier comida</h3>
        </div>
    </section>
<main>
    <section id="categoria">
        <div class="content-text">
            <h3>Categoría</h3>
        </div>
        <div class="carrusel">
            <div class="carrusel-list" id="carrusel-list">
                <button class="carrusel-arrow carrusel-prev" id="button-prev" data-button="button-prev"
                    onclick="">
                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-left"
                        class="svg-inline--fa fa-chevron-left fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 320 512">
                        <path fill="currentColor"
                            d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z">
                        </path>
                    </svg>
                </button>
                <div class="carrusel-track" id="track">
                    {% for categoria in categorias %}
                    <div class="carrusel-item">
                        <div >
                            <a href="">
                                <picture>
                                    <img src="{{ asset('imgs/icons/' ~ categoria.imagen) }}" alt="Comida extranjera">
                                </picture>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <button class="carrusel-arrow carrusel-next" id="button-next" data-button="button-next"
                    onclick="">
                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right"
                        class="svg-inline--fa fa-chevron-right fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 320 512">
                        <path fill="currentColor"
                            d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z">
                        </path>
                    </svg>
                </button>
            </div>
            {# <div role="tablist" class="carousel__indicadores"></div> #}
        </div>
    </section>
    <form action = "" method="get">
            <div class="search-content">
                <div class="search">
                    <input type="text"  name="search" placeholder="Buscar">
                    <button type="submit" class="fa-solid fa-magnifying-glass"></button>
                </div>
            </div>
    </form>
    <div class="main-content">
        
        <div class="afiliados-container">
            <h2>Negocios</h2>
            {% for Negocio in Negocios%}
                <div class="afiliados-content">
                    <div class="img-content"><img src="{{asset('imgs/NegocioFotos/' ~ Negocio.imagen )}}" alt="imagen afiliados"></div>
                    <div class="text-content">
                        <h3>{{Negocio.Negocio}}</h3>
                        <p>{{Negocio.descripcion}}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="comida-container">
            <div class="title-food">
                <h2>Comida</h2>
            </div>
                {% for comida in comidas%}
                <div class="comida-content">
                    <div class="img-content"><img src="{{asset('imgs/MenuFotos/' ~ comida.Imagen)}}" alt="imagen comida"></div>
                    <div class="info-container">
                        <div class="title">
                            <h3>{{ comida.NomMenu}}</h3>
                        </div>
                        <div class="text-content">
                            <p>{{comida.Descrip}}</p>
                        </div>
                        <div class="btn-content"><a  href="{{path('app_det_comida', {'id' : comida.id})}}">Más información</a></div>
                    </div>
                </div>
                {% endfor %}
        </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/glider-js@1.7.8/glider.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var select = document.querySelector('#options-type-select');
        if (select) {
            var glide = new Glide('.carrusel-list', {
                type: select.value,
                focusAt: 'center',
                perView: 1,
                slidesToScroll: 1,
                scrollLock: true,
                dots: '#resp-dots',
                arrows: {
                    prev: '.glider-prev',
                    next: '.glider-next'
                },
                responsive: [
                    {
                        breakpoint: 775,
                        settings: {
                            slidesToShow: 'auto',
                            slidesToScroll: 'auto',
                            itemWidth: 150,
                            duration: 0.25
                        }
                    },
                    {
                        breakpoint: 1024,
                        settings: {
                            slidesToShow: 2,
                            slidesToScroll: 1,
                            itemWidth: 150,
                            duration: 0.25
                        }
                    }
                ]
            });

            // Event listener for select change
            select.addEventListener('change', function(event) {
                glide.update({
                    type: event.target.value
                });
            });

            // Mount the Glide carousel
            glide.mount();
        }
    });
</script>

{% endblock %}
